@import "./variables/global";
@import "./reset";
@import "./themes/light";
@import "./themes/dark";

.app {
  font: var(--font-m);

  background: var(--bg-color);
  color: var(--primary-color);

  min-height: 100vh;
}

h1 {
  font: var(--font-l);
}

.container {
  max-width: 1200px;
  text-align: center;

  margin: 0 auto;
}
