.Button {
  border: none;
  border-radius: 5px;

  cursor: pointer;

  width: fit-content;
  height: fit-content;

  padding: 10px;
  margin: 5px;

  background-color: var(--bg-accent-color);
  color: var(--primary-color);

  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.Button:hover {
  background-color: var(--hover-color);
}

.Button:active {
  background-color: var(--active-color);
}
