.Button {
  border: none;
  border-radius: 5px;

  width: fit-content;
  height: fit-content;

  padding: 5px;

  background-color: var(--bg-accent-color);
  color: var(--primary-color);
}

.Button:hover {
  background-color: var(--hover-color);
}

.Button:active {
  background-color: var(--active-color);
}
