.Navbar {
  background-color: var(--bg-accent-color);
  color: var(--primary-color);

  margin-bottom: 10px;

  width: 100%;
  height: var(--navbar-height);
  display: flex;
  align-items: center;
}

.links {
  display: flex;
  align-items: center;

  margin-left: auto;
  margin-right: 20px;
}
