.ErrorPage {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - var(--footer-height) - var(--navbar-height) - 10px);
  justify-content: center;
  align-items: center;
  text-align: center;
}
